body {
    margin: 40px;
}

/************************************
 FIRST SCREEN - PLAYER SELECTOR 
 ************************************/

.boxP0 {
    border-bottom: 1px white solid;
    border-right: 1px white solid;
}

.boxP1 {
    border-bottom: 1px white solid;
}

.boxP2 {
    border-right: 1px white solid;
}

.title {
    /* font-family: 'Bungee Shade', cursive; */
    font-size: 3rem;
    padding-top: 1rem;
    /* width: auto; */
}

.title>p {
    color: black;
    font-size: 1.6rem;
}

.hide {
    display: none;
}

.template {
    letter-spacing: 10px;
}
.boxP0, .boxP1, .boxP2 ,.boxP3 {
    color: #fff;
    /* border-radius: 5px; */
    /* padding: 20px; */
    /* font-size: 150%;
    height: 100%; */
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(5, [col] 10vw);
    grid-template-rows: repeat(5, [row] 10vh);

    align-content: center;
    text-align: center;

}


.boxP0, .btnP0 {
    grid-column: col / span 5;
    grid-row: row / span 5;
    background-color: #03A9F4
}

.boxP1, .btnP1 {
    grid-column: col 6 / span 5;
    grid-row: row / span 5;
    background-color: #FF5722
}

.boxP2, .btnP2 {
    grid-column: col / span 5;
    grid-row: row 6 / span 5;
    background-color: #8BC34A
}

.boxP3, .btnP3 {
    grid-column:  col 6 / span 5;
    grid-row: row 6 / span 5;
    background-color: orange
}

.title {
    grid-column: col 3 / span 6;
    grid-row: row 5 / span 2 ;
    background-color: rgb(206, 204, 204);
    z-index: 20;
    border: 5px white solid;
    text-align: center;
}
.off {
    background-color: grey;
}
.gameOver {
    background-color: black;
    align-content: center;
    text-align: center;

}

/************************************
 BACKGROUND & LAYOUT
 ************************************/

.wrapper {
    display: grid;
    /* grid-gap: 10px; */
    grid-template-columns: repeat(10, [col] 10%);
    grid-template-rows: repeat(10, [row] 10%);
    background-color: gray;
    color: #444;
    height: 100%;
}



.inner-wrapper.selector{
    font-size: 3vw;
}

/* Positioning of the four players containers */


/* 
Layer Position inside the player container
*/



.avatar {
    height: 100px;
    width: 100px;
    background-color: gray;
    border-bottom-right-radius: 50px;
    
}

.right {
    grid-row: row 5;
    grid-column: col;
    font-size: 16px;
}
.wrong {
    grid-row: row 5;
    grid-column: col 2;
    font-size: 16px;
}
.remaining {
    grid-row: row 5;
    grid-column: col 3;
    font-size: 16px;
}
.wins {
    grid-row: row 5;
    grid-column: col 4;
    font-size: 16px;
}
.points {
    grid-row: row 5;
    grid-column: col 5;
    font-size: 16px;
}
.list{
    grid-row: row 4;
    grid-column: col 2 / span 3;
    font-size: 16px;
    /* background-color: white; */
    /* color: black; */
    /* border-radius: 30px;
    margin: 5px 20px 0px 50px; */
}
.score {
    font-size: 1.5rem;
}
.label{
    font-size: 0.8rem;
}
.template {
    grid-row: row 3;
    grid-column: col 1 / span 5;
    font-size: 2rem;
}